section{
            padding: 20px;
}
.product-detail {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.product-image {
    flex: 1;
    max-width: 350px;
}

.product-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-info {
    margin-left: 20px;
    
}

.product-title {
    font-family: "Bebas Neue", sans-serif;
    
    font-size: 28px;
    font-weight: bold;
    color: #d9534f;
    margin-bottom: 10px;
}

.product-description {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

.product-price {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 24px;
    color: #555;
    margin-bottom: 10px;
}

.product-stock {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.quantity-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.boton Link{
    text-decoration: none;
}