*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.grilla{

    background-color: whitesmoke;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagen{
    margin: 40px;
    
}
.imagen img{
    width: 300px;
    height: auto;
}
.articulo{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    
}
.boton{
    padding-left: 10px;
}



