.gallery__container{
        width: 90%;
        max-width: 1100px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        column-gap: 10px;
        row-gap: 5px;
        padding: 10px;
}

.card-d {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
    width: 300px;
}

.card-d:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card-d .card-header {
            background-color: #d9534f;
            color: #fff;
            padding: 10px;
            font-size: 18px;
            text-align: center;
            font-weight: bold;
}
.card-d .card-header h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.card-d .card-contend {
    padding: 15px;
    color: #333;
}

 .card-contend .puente img{
    width: 100%; /* Ajusta la imagen al ancho de la tarjeta */
    height: 180px;
    object-fit: cover;
    border-radius: 12px 12px 0 0; /* Bordes redondeados superiores */
}

.card-contend p{
    text-align: center;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 20px;
    padding-top: 20px;
}

.card-footer {
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid #eee;
            margin-bottom:10px ;
}

.boton-agregar {
    background-color: #d9534f;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 50px;
            box-shadow: 0 4px 8px rgba(217, 83, 79, 0.3);
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
            transition: all 0.3s ease;
            position: relative;
            overflow: hidden;
   
}

.boton-agregar::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.2); /* Color blanco semi-transparente */
    border-radius: 50%; /* Forma de círculo */
    transform: translate(-50%, -50%) scale(0); /* Inicio de la animación */
    transition: transform 0.5s ease; /* Transición suave */
}

.boton-agregar:hover::before {
    transform: translate(-50%, -50%) scale(1); /* Expansión al hacer hover */
}

.boton-agregar:hover {
    background-color: #c74743; /* Cambio de color al hacer hover */
    box-shadow: 0 6px 12px rgba(217, 83, 79, 0.5); /* Sombra más pronunciada */
    transform: translateY(-3px); /* Efecto de elevación */
}