

.contenedor{
    background-color: #d5161e;

}
.catalogo .card{
    margin-inline: 20px;
    margin-bottom: 20px;
   }
   
   .catalogo .card .img{
       padding: 10px;
       background-color: #d5161e;
       
   }

   .card{
     width: 16rem;
     height: auto;
     margin: 20px;
     color: rgb(8, 8, 8);
    font-size: 16px;
   }
   .body{
    background-color: #f0eeee;
   }
   .img{
    margin: auto;
       width: 300px;
       height: 300px;
       text-align: center;
   }

   .card .button{
    background-color: white;
    color: #d5161e;
    font-size: 12;
   }